.skillBoxes{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0 0%, 0%, 0.1);
    padding: 5px;
    margin: 10px;
    max-width: 250px;
    display: inline-block;
}
.skillImage{
    max-width: 60%;
    margin-bottom: 15px;
}
.cardTitle{
    margin: 0;
    margin-bottom: 10px;
}
.titleBox
{
    font-size: 55px;
    text-align: center;
}
h1 span{
    transition: 0.5s;
  }
  h1:hover span{
    color:#fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff;
  }
  .cardTitle{
    font-size: 26px;
    background-color: rgb(50, 89, 247);
  }
  .allCard
  {
    text-align: center;
  }
